@charset "utf-8";
/* CSS Document */
canvas {
    	 margin-top:10%;
		 margin-left:35%;
		 position:fixed;
 		}
	body{
		background:url(yellow.jpg);
		
	}
	#snow1{
		margin-top:5%;
		position:absolute;
		
	}
	
	#snow2{
		margin-left:20%;
		position:absolute;
		
	}
	#snow3{
		margin-left:67%;
		position:absolute;
		
	}
	#snow4{
		margin-left:85%;
		position:absolute;
		
	}
	#snow5{
		margin-left:35%;
		margin-top:10%;
		position:absolute;
		
		
	}
	#snow6{
		margin-left:50%;
		margin-top:13%;
		position:absolute;
		
	}
	button{
		width:125px;
		height:100px;
		background:url(yellow_%E5%89%AF%E6%9C%AC.png) no-repeat;
		margin-left:1150px;
		margin-top:290px;
		position:fixed;
		border:hidden;
		}
		button:hover{
			transform:scale(1.2,1.2);
			border:hidden;
			
		}
		embed{
			position:fixed
		}
		

